@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Review Assignment
   
   TSS Layout Styles
   Filename: ma_layout.css

*/
body {
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
}

body > header {
	margin: 0;
	padding: 0px;
	width: 100%;
	overflow: hidden;
}
	
article {
	clear: left;
}
article h1{
	text-align:center;
}

article img {
	float: left;
    width: 50%;
    padding:10px 0px 30px 5px;
	border-style:solid;
	border-width: 15px;
	margin: auto;
}
aside h2{
	text-align:center;
}
aside h3 {
	text-align:center;
}

body > footer {
	width: 100%;
	clear: right;
	bottom:300px;
}


